<!DOCTYPE html>
<html lang="pt-br">
<%- include('layouts/head.ejs') %>
<body>
    <h1>Página Inicial</h1>
    <a href="/register">Formulario</a>
    <a href="/list">Lista de Clientes</a>


    <%- include('layouts/foot.ejs') %> 
</body>
</html>